#fav-book {
    height: 420px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-right: 50px;
    margin-bottom: 30px;
    overflow-y: auto;
}
#fav-heading {
    background: #012169;
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #F7F7FC;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: 0.75px; font-size: 1.8rem;
}
.fav-title {
    height: 15px;
}
.card-group {
    padding-top: 20px;
    padding-bottom: 24px;
}
.card {
    width: 150px;
    height: 200px;
    margin-right: 20px;
}
.card-title {
    color: #012169;
}
.card-footer{
    height: 40px;
}
.card:hover {
    box-shadow: 0px 6px 8px #888888;
}
img {
    max-height: 250px;
}
.edit {
    position: absolute;
    right: 45px;
}
.delete {
    position: absolute;
    right: 10px;
}
svg {
    cursor: pointer;
}